*{

}

#sidebar{
	position:fixed;
	width:300px;
	height:100%;
	background:#151719;
	//left:-200px;
	transition:all 500ms linear;
}
#sidebar.active{
	left:0px;
}
#sidebar ul li{
	color:rgba(230,230,230,0.9);
	list-style:none;
	padding:15px 10px;
	border-bottom: 1px solid rgba(100,100,100,0.3);
}
#sidebar .toggle-btn{
	position:absolute;
	left:230px;
	top:20px;
	
}
#sidebar .toggle-btn span{
	display:block;
	width:30px;
	height:5px;
	background:#151719;
	margin:3px 0px;
	margin-left:10px;
}

#sidebar .footer{
	position:absolute;
	bottom:30px;
}

#sidebar .footer img{
	//width:30px;
	//height:30px;
}

#sidebar .footer span:not(:first-child){
  border-left:1px solid rgba(100,100,100,0.3);
}

.panel{
	border:1px solid rgba(100,100,100,0.3);
}
#main-page-box{
	width:100%;
	padding:10px;
	margin-top:200px;
	margin-bottom:100px;
}

#main-page-box .familly-crest, .familly-description, .familly-nav{
	width:100%;
	text-align:center;
	margin-left: auto;
    margin-right: auto;
}

#main-page-box .familly-description h1{
	font-family: 'Ubuntu', sans-serif;
	
}

#main-page-box .familly-description, .familly-nav p{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:18;
}

#main-page-box .familly-description{
	width: 40em
}

#main-page-box .familly-nav{
	display:inline;
	margin:0px;
}
#main-page-box .familly-nav p{
	display:inline;
	margin:0px;
	width:60px;
	
}

#main-page-box  .icon{
	display:inline;
	margin:0px;
	width:35px;
	height:35px;
	margin-right:10px;
	margin-left:10px;
}

#main-page-box  .crest{
	
}

