#topBar{
	position: -webkit-sticky;
	position: sticky;
	width:100%;
	height:40px;
	top: 0;
	background:#151719;
	z-index: 2;
}
 
#topbar .toggle-btn{
	position:absolute;
	left:0px;
	height:40px;
	padding:5px;
	padding-left:20px;
	padding-right:20px;
}
#topbar .toggle-btn:hover{
	cursor: pointer;
	background-color:#e69138aa;
}
#topbar .toggle-btn span{
	display:block;
	width:25px;
	height:5px;
	background:#e69138ff;
	margin:3px 0px;

}

#topbar .login-btn{
	position:absolute;
	right:0px;
	height:40px;
	padding:5px;
	padding-right:20px;
	display:inline-block;
}
#topbar .login-btn:hover{
	cursor: pointer;
	background-color:#e69138aa;
}
#topbar .login-btn .obj{
	display: inline-block;
	height:30px;
}

#topbar .obj p{
	color:#e69138ff;
	float:left;
	margin-right:10px;
	
	vertical-align: middle;
	line-height: 30px; 
}

#topbar .userico{
	width:30px;
	height:30px;
	margin:0px;
}

#topbar .account-panel-btn{
	width:8px;
	height:8px;
	margin:0px;
	margin-bottom:3px;
	margin-top:11px;
	float:none;
}

#topbar .adminico{
	width:16px;
	height:16px;
	margin-bottom:3px;
	margin-right:5px;
	float:none;
}
#account-panel.active{
	top:40px;
	z-index: 1;
	opacity: 1;
	visibility: visible; /* hides sub-menu */
	
}

#account-panel{
	visibility: hidden; /* hides sub-menu */
	z-index: -1;
	opacity: 0;
	//position:absolute;
	right:0px;
	display:inline-block;
	top:0px;
	width:123px;
	position:fixed;
	background:#151719;
	border-right: 10px solid #e69138ff;
	transition:all 300ms ease-in-out;
}
#account-panel ul li{
	color:rgba(230,230,230,0.9);
	list-style:none;
	//padding:5px 0px;
	//border-bottom: 1px solid rgba(100,100,100,0.3);
	background-image: linear-gradient(to right, #151719 , rgba(100,100,100,0.2));

	
}
#account-panel ul{
}

#account-panel ul li:hover{
	//border-bottom: 1px solid rgba(100,100,100,0.3);
	background-image: linear-gradient(to right, #151719 , #e69138ff);
}

#sidebar{
	position:fixed;
	width:300px;
	height:100%;
	background:#151719;
	left:-300px;
	transition:all 500ms linear;
	border-right: 10px solid #e69138ff;
	transition:all 300ms linear;
	z-index: 2;
}
#sidebar.active{
	left:0px;
}
#sidebar ul li{
	color:rgba(230,230,230,0.9);
	list-style:none;
	padding:15px 10px;
	//border-bottom: 1px solid rgba(100,100,100,0.3);
	background-image: linear-gradient(to right, #151719 , rgba(100,100,100,0.2));

	transition:all 300ms ease-in-out;
}
#sidebar ul{

}
#sidebar ul li:hover{
	//border-bottom: 1px solid rgba(100,100,100,0.3);
	background-image: linear-gradient(to right, #151719 , #e69138ff);
}


#sidebar .links{
	margin-top:80px;
}

#sidebar .footer{
	position:absolute;
	bottom:20px;
	width:100%;
}
#sidebar .profile-img{
	margin-top:80px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:150px;
	background-color: rgba(100,100,100,0.2);
	
}
.profile-img img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top:8px;
  
	
}

#sidebar .copyright{
	color:rgba(100,100,100,0.7);
}
#sidebar .footer img{
	width:30px;
	height:30px;
	margin-left:10px;
	margin-right:10px;
	transition:all 100ms linear;
}
#sidebar .footer img:hover{
	width:34px;
	height:34px;
}

#sidebar .footer span:not(:first-child){
  border-left:1px solid rgba(100,100,100,0.3);
}
.panel{
	border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
}

.headtext{
    text:bold;
}
#main-background{
	overflow: hidden;
	background:#151719;
	position:absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%; 
	width: 100%; 
	z-index: -1;
}
#main-background-blur{
	background-image: url("/img/background-main.jpg");
	//background:#151719;
	position:absolute;
	filter: blur(8px);
	-webkit-filter: blur(8px);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%; 
	width: 100%; 
	z-index: -1;
}

#main-page-box{
	
	width:100%;
	padding:10px;
	padding-top:200px;
	padding-bottom:100px;
	z-index: 0;
	
}

#main-page-box .familly-crest, .familly-description, .familly-nav{
	width:100%;
	text-align:center;
	color:white;
	margin-left: auto;
    margin-right: auto;
	
}

#main-page-box h1{
	font-family: 'Ubuntu', sans-serif;
	text-shadow: 2px 2px 3px black;
}

#main-page-box p{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:23;
	text-shadow: 2px 2px 3px black;

}

h1{
	font-family: 'Ubuntu', sans-serif;
}

p{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:18;
}


#main-page-box .familly-description{
	width: 40em;
}

#main-page-box .familly-nav{
	display:inline;
	margin:0px;
}
#main-page-box .familly-nav p{
	display:inline;
	margin:0px;
	width:60px;	
}

#main-page-box  .icon{
	display:inline;
	
	margin:0px;
	width:35px;
	height:35px;
	margin-right:10px;
	margin-left:10px;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(2px 2px 3px black);
  
  transition:all 50ms ease-in-out;
}


#main-page-box  .icon:hover{

	-webkit-filter: drop-shadow(0px 0px 12px #e69138ff);
  filter: drop-shadow(0px 0px 12px #e69138ff);
}

#main-page-box  .crest{
	
}

#footer{
	
	position: fixed;
	width:100%;
	height:40px;
	background:#151719;
	bottom: 0px;
	padding-bottom:0px;
	margin-bottom:0px;
	//z-index: -1;
}
/*Main User page*/

#user-home {

	background-color: rgba(100,100,100,0.2);
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


#user-home .header-left{

	flex: 1 1 0;
	display: flex;
}
#user-home .header-right{

	flex: 1 1 0;
}
#user-home .user-contact-info{
	//width:100px;
	left:0px;
	padding-top:20px;
}
#user-home .user-contact-social{
	//width:100px;
	right:0px;
	padding-top:20px;
}
#user-home .header-menu{
	flex: 100%;
	order: 3;
	padding:10px;
	background-color: rgba(100,100,100,0.6);
}
#user-home .header-menu-btn{
	
	display: inline;
	margin-left:10px;
	padding-left:10px;
	padding:5px;
	padding-top:10px;
	padding-bottom:10px;
}
#user-home .header-menu-btn:hover{
	cursor: pointer;
	background-color:#e69138aa;
}
#user-home .header-menu-btn:not(:first-child){
  border-left:1px solid rgba(100,100,100,0.3);
}

#user-home .profile-img{
	left:0px;
	width:20%;
	float:right;
	
}
#user-home .icon {
	width:30px;
	display:inline;
}
#user-home span {
	display:block;
	padding:10px;
	
}
#user-home p {
	display:inline;
	padding:15px;
	
}


/*profile parts*/
#profile-data {
	 width:100%;
	 //background-color:blue;
	 display:inline;
}

#about-data {
	 width:50%;
	 //background-color:blue;
	 //visibility:hidden;
}
#education-data {
	 width:100%;
	 //visibility:hidden;
	 //background-color:blue;
}
#work-data {
	 width:100%;
	 //background-color:blue;
	 //visibility:hidden;
}

#about-data.active {
	visibility:hidden;
}
#education-data.active {
visibility:visible;
}
#work-data.active {
	 visibility:visible;
}

#about-data.disabled {
	visibility:hidden;
}
#education-data.disabled {
	visibility:hidden;
}
#work-data.disabled {
	 visibility:hidden;
}

.profile-data-box {
	 padding:10px; 
}

.profile-data-box .content:after {		
	content: "";
	display: inline;
	clear: both;
}
.profile-data-box .content {		
	width:100%;	
}

.profile-data-box .year{	
	display:inline;
	float: left;
	width: 13.33%; 	
	padding-left:10px;
	padding-top:10px;
}

.profile-data-box .school{	
	display:inline;
	float: left;
	width: 33.3%; 
	padding-left:10px;
	padding-top:10px;
}
.profile-data-box .school-row{	
	display:inline;
	float: left;
	width: 100%; 
	border-bottom:1px solid rgba(100,100,100,0.3);
	background-color: rgba(100,100,100,0.1);
}

.profile-data-box .title p{	
	padding-left:8px;
	padding-top:0px;		
}
.profile-data-box .subject{	
	display:inline;
	float: left;
	width: 23.33%; 	
	padding-left:10px;
	padding-top:10px;
}

.profile-data-box .title {	
	display:inline;
	float: left;
	width: 33.33%;	
}

.profile-data-box .titles .year{	
	display:inline;
	float: left;
	width: 13.33%; 	
	padding-left:10px;
}

.profile-data-box .titles .school{	
	display:inline;
	float: left;
	width: 33.3%; 
	padding-left:10px;
}
.profile-data-box .titles .subject{	
	display:inline;
	float: left;
	width: 23.33%; 	
	padding-left:10px;
}
.profile-data-box .titles {		
	display:inline;
	float: left;
	width: 100%; 
	padding-top:10px;
	border-bottom:1px solid rgba(100,100,100,0.3);
	background-color: rgba(100,100,100,0.2);
}
/*CREATE INVITE*/

#widget {}

#widget button, code ,form,input{
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#widget h1{
	text-align: left;
}

#widget form{
	margin-left: 10px;
    margin-right: auto;
	width: 40em;
}

#widget .headtext{
	margin-left: auto;
    margin-right: auto;
	width: 40em;
}

/* Code */

#widget code {
    background-color: #151719;
    color: #e69138ff;
    height: 60px;
    width: 21em;
	
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    border-left: 15px solid #e69138ff;
	border-right: 15px solid #e69138ff;
}

/* Button */

#widget .submit{
    background-color: #e69138ff;
	text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 7px 13px;
	width: 20em;
    font-size: 20px;
    cursor:pointer;
	margin-left: auto;
    margin-right: auto;
	margin-top:20px;
	margin-bottom:20px;
}
#widget .submit:hover{background-color: rgba(100,100,100,0.2);}
#widget .submit:hover{background-color: #151719;}